<div class='crest-watermark'>
	<div class='main-text'>
	<h2>The Georgetown SigEp Network</h2>
	<p>The Georgetown SigEp Network is an application built specifically for the DC Gamma chapter of Sigma Phi Epsilon. The Network is meant to serve as a current record of all alumni classes, a professional networking tool, and to help brothers stay connected following graduation.</p>

	<p>Update your profile so that undergraduate and alumni brothers can stay up to date and connect with you. Reach out to brothers via the network for personal or professional advice or just to check in.</p>
	<br>
	<%= link_to("View The Network", {:controller => 'profiles', :action => 'index'}, :class => "btn btn-primary") %>
	</div>
</div>