<div>
<h2>The SigEp Network</h2>
<p>The sigep network is an application build uniquely for the DC Gamma chapter of Georgetown University to serve as a current record of the entire chapter as well as a professional networking tool. Update your profile so that current brothers and alumni can stay up to date and connect with you. Reach out to existing brothers for personal or professional advice or just to check in.</p>

<%= link_to("View The Network", {:controller => 'profiles', :action => 'index'}, :class => "btn btn-primary") %>
</div>