<div>
<h2>The Georgetown SigEp Network</h2>
<p>The Georgetown SigEp Network is an application built specifically for the DC Gamma chapter of Sigma Phi Epsilon. The Network is meant to serve as both a current record of the entire chapter as well as a professional networking tool.</p>

<p>Update your profile so that undergrads and alumni brothers can stay up to date and connect with you. Reach out to brothers via the network for personal or professional advice or just to check in.</p>

<%= link_to("View The Network", {:controller => 'profiles', :action => 'index'}, :class => "btn btn-primary") %>
</div>