<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="profiles delete">
	<h2>Delete Subject</h2>

	<%= form_tag({:action => 'destroy', :id => @profile.id}) do %>

		<p>Are you sure you want to premanently delete this profile?</p>

		<p class="reference-name"><%= @profile.first_name + " " + @profile.last_name %></p>

		<div class="form-buttons">
			<%= submit_tag("Delete Subject") %>
		</div>

	<% end %>
</div>
