<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="profiles edit">
	<h2>Update Profile</h2>

	<%= form_for(:profile, :url => {:action => 'update', :id => @profile.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update Profile") %>
		</div>

	<% end %>
</div>
