<h2>Edit Profile</h2>
<%= form_for(:profile, 
				:multipart => true, 
				:url => {:action => 'update', :id => @profile.id},
				:html => {:class => 'profile-form'}) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<%= submit_tag("Edit Profile", :class => "btn btn-default") %>
<% end %>
