<div class"profiles index">
	<%= form_tag({controller: 'profiles', action: 'index'}, class: 'form-inline profile-search-bar') do %>
	<div class="form-group">
  	<%= text_field_tag :filter, nil, class: 'form-control', placeholder: "Search" %>
  	<%= submit_tag("Search", :class => "btn btn-default") %>
  	</div>
	<% end %>
	<%= render(:partial => "index_table") %>
</div>
