<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="profiles new">
	<h2>Create Profile</h2>

	<%= form_for(:profile, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Create Profile") %>
		</div>

	<% end %>
</div>
