<%= link_to("<< Main Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %>

	<h2>Welcome to the SigEp Network!</h2>
	<h4>Complete your profile to get started.</h4>

	<%= form_for(:profile, 
				:multipart => true, 
				:url => {:action => 'create', :id => @user.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Create Profile") %>
		</div>

	<% end %>
