<h2>Edit User</h2>
<%= form_for(:user, :url => {:controller => 'users', :action => 'update', :id => @user.id}, :html => {:class => 'user-form'}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>
	<%= submit_tag("Edit User", :class => "btn btn-default") %>
<% end %>
