<div class="users show">
	<h2>User Information</h2>

	<table class="table user-table">
		<tr>
			<th>Email Address</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Last Update</th>
			<td><%= @user.updated_at.to_time.strftime('%B %e, %Y at %l:%M %p') %></td>
		</tr>
	</table>

	<br>
	<%= link_to "Edit User", {:action => 'edit'}, class: "btn btn-default" %>

</div>
