<h2>Password Reset</h2>
<p> Enter the email address associated with your SigEp Network account. Instructions on reseting your password will be sent to this address.</p>

<%= form_tag({:action => 'send_password_reset_email'}, method: "post", class: 'user-form') do %>

	<div class="form-group">
		<%= label_tag "Email Address" %>		
		<%= text_field_tag 'email', nil, class: 'form-control', id: "email", placeholder: "email@example.com", required: true %>
	 </div>

	<%= submit_tag("Send Email", :class => "btn btn-default") %>

<% end %>