<p> Click the link below to reset your password. </p>
<%= link_to "Reset Password", @url + @user.id.to_s, :class => "btn btn-lg btn-primary btn-block" %>
<br>
<p> Please contact nickrnathan@gmail.com with any questions or concerns.</p>