/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-wrapper {
  padding: 40px 0px;
  margin: 0 auto;
}

.login-background {
  background-color: #28005c;
  border-radius: 15px;
}

.gu-logo {
  display: block;
  margin: 0 auto;
  padding: 10px 5px;
}




