 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$navbar-height: 60px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "access";
@import "users";
@import "profiles";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.btn-primary {
  color: #fff;
  background-color: #961A1A;
  border-color: #961A1A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #C81717;
  border-color: #C81717;
}

.navbar-brand-custom {
	float: left;
	padding: 5px 15px;
  	font-size: 18px;
  	line-height: 20px;
  	height: 60px; 
  }

.footer {
	position: relative;
  	margin-top: -150px; /* negative value of footer height */
  	height: 150px;
  	clear:both;
  	padding-top:20px; 
  }