/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.crest-watermark {
 	background-image: asset-url("crest-transparent.png");
 	background-repeat: no-repeat;
 	background-position: right bottom;
 	position: absolute;
 	height: 75%;
 	width: 80%;
  }