/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.user-form {
	max-width: 330px;
	padding: 5px;
}

.user-table {
	max-width: 400px;
}