<!DOCTYPE html>
<html>
	<head>
	  <title>Sigep Network</title>
	</head>
	<body>
	<div id="header">
			<h1>Sigep Network</h1>
		</div>
		<div id="main">
					
			<div id="content">
				<%= yield %>
			</div>
			
		</div>
		
		<div id="footer">
			<p id="copyright">&copy; Sigma Phi Epsilon, DC Gamma | Nick Nathan </p>
		</div>	
	</body>
</html>
